.iw_form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  background: #ecf0f1;
  padding: 10px 0;
}

.iw_form .formSection label {
  display: block;
  margin-bottom: 15px;
}

.iw_form .formSection input,
.iw_form .formSection textarea {
  font-size: 20px;
  padding: 5px;
  resize: none;
}

.iw_form .formSection {
  margin-bottom: 20px;
}

.iw_form button[type="submit"] {
  width: 70%;
  min-height: 35px;
  font-size: 20px;
  border: 2px solid #000000;
  outline: none;
  background: transparent;
  cursor: pointer;
}
